@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@0;1&display=swap');


* {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}





@media (min-width: 1600px) { 
  #journey .slick-dots {
    top: calc(100% + 3rem)
  }

  #journey .slick-dots li {
    margin-left: 10px;
    margin-right: 10px;
    }

    #journey-about .slick-dots {
      top: calc(100% + 3rem)
    }
  
    #journey-about .slick-dots li {
      margin-left: 10px;
      margin-right: 10px;
    }
      
}


@media (min-width: 1280px) and (max-width: 1599px) {
  
  /* CSS */

  #journey .slick-dots {
    top: calc(100% + 3rem)
  }

  #journey .slick-dots li {
    margin-left: 10px;
    margin-right: 10px;
}


  #journey-about .slick-dots {
    top: calc(100% + 3rem)
  }

  #journey-about .slick-dots li {
    margin-left: 10px;
    margin-right: 10px;
  }
    
}

@media (min-width: 1024px) and (max-width: 1279px) {
  
  /* CSS */
  #journey .slick-dots {
    top: 20rem;
  }

  #journey-about .slick-dots {
    top: calc(100% + 3rem)
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  
  /* CSS */
  #journey .slick-dots {
    top: 53rem;
  }

  #journey-about .slick-dots {
    top: calc(100% + 3rem)
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  #journey-about .slick-dots {
    top: calc(100% + 3rem)
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  #journey .slick-dots {
    top: 50rem;
  }

  #journey-about .slick-dots {
    top: calc(100% + 3rem)
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */

  #journey .slick-dots {
    top: 48rem;
  }

  #journey-about .slick-dots {
    top: calc(100% + 3rem)
  }
  
  
}